<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
  {% load static %}
  <link rel="stylesheet" href="../../static/styles/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../static/styles/landingpage.css">

</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Finance Tracker</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact_us'%}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup'%}">Get Started</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
 <!-- Hero Section -->
<main class="main">
    <section id="hero" class="hero section">
      <div class="hero-bg">
        <img src="../../static/images/money-2724241_1280.jpg" alt="">
      </div>
      <div class="container text-center">
        <div class="d-flex flex-column justify-content-center align-items-center">
          <h1 data-aos="fade-up">Welcome to <span>Finance Tracker</span></h1>
          <p data-aos="fade-up" data-aos-delay="100">A better way to manage your Finances<br></p>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="http://127.0.0.1:8000/authentication/signup/" class="btn-get-started">Get Started</a>
          </div>
          <img src="" class="img-fluid hero-img" alt="" data-aos="zoom-out" data-aos-delay="300">
        </div>
      </div>

    </section>
<!-- Featured Services Section -->
    <section id="featured-services" class="featured-services section light-background">

      <div class="container">

        <div class="row gy-4">

          <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-briefcase"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Budget</a></h4>
                <p class="description">Set monthly budgets and track progress</p>
              </div>
            </div>
          </div>
          <!-- End Service Item -->

          <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-card-checklist"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Income</a></h4>
                <p class="description">Log in and manage your income sources</p>
              </div>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-lg-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item d-flex">
              <div class="icon flex-shrink-0"><i class="bi bi-bar-chart"></i></div>
              <div>
                <h4 class="title"><a href="#" class="stretched-link">Expense</a></h4>
                <p class="description">Categorize your expenses</p>
              </div>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section>
<!-- About Section -->
    <section id="about" class="about section">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
            <p class="who-we-are">Welcome to Finance Tracker</p>
            <h3>Your ideal platform for managing your personal finances</h3>
            <p class="fst-italic">
              At finance tracker, we believe that financial empowerment starts with understanding and controlling your expenses. Our Mission is to provide you with simple yet powerful tools to help you monitor your income, track your expenses, set realistic budgets, and achieve your financial goals.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Simplicity and usability</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Detailed reports and charts</span></li>
              <li><i class="bi bi-check-circle"></i> <span>From setting savings targets to tracking your financial progress, we help you stay on course to achieve your aspirations.</span></li>
            </ul>
          </div>

          <div class="col-lg-6 about-images" data-aos="fade-up" data-aos-delay="200">
            <div class="row gy-4">
              <div class="col-lg-6">
                <img src="../../static/images/man-5982512_1280.jpg" class="img-fluid" alt="">
              </div>
              <div class="col-lg-6">
                <div class="row gy-4">
                  <div class="col-lg-12">
                    <img src="../../static/images/poverty-4561704_1280.jpg" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-12">
                    <img src="../../static/images/wallet-2292428_1280.jpg" class="img-fluid" alt="">
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- /About Section -->
 <!-- Features Section -->
    <section id="features" class="features section">

      <!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <h2>Features</h2>
        <p>Discover how finance tracker can simplify your financial life.</p>
      </div><!-- End Section Title -->

      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-5 d-flex align-items-center">

            <ul class="nav nav-tabs" data-aos="fade-up" data-aos-delay="100">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
                  <i class="bi bi-binoculars"></i>
                  <div>
                    <h4 class="d-none d-lg-block">Income Tracking</h4>
                    <p>
                      Record and categorize your income sources effortlessly. View consolidated and detailed summaries of your earnings.
                    </p>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
                  <i class="bi bi-box-seam"></i>
                  <div>
                    <h4 class="d-none d-lg-block">Expense Management</h4>
                    <p>
                     Log your daily, weekly, or monthly expenses. Categorize your expenses for better insights into your spending habits.
                    </p>
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
                  <i class="bi bi-brightness-high"></i>
                  <div>
                    <h4 class="d-none d-lg-block">Budget Planning</h4>
                    <p>
                    Create customizable budgets for different categories,such as groceries, entertainment or utilities. Track your spending against your budgets to ensure you stay on target.
                    </p>
                  </div>
                </a>
              </li>
            </ul><!-- End Tab Nav -->

          </div>

          <div class="col-lg-6">

            <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

              <div class="tab-pane fade active show" id="features-tab-1">
                <img src="../../static/images/cost-4164540_1280.jpg" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->

              <div class="tab-pane fade" id="features-tab-2">
                <img src="../../static/images/bag-8319466_1280.jpg" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->

              <div class="tab-pane fade" id="features-tab-3">
                <img src="../../static/images/invoice-8777297_1280.png" alt="" class="img-fluid">
              </div><!-- End Tab Content Item -->
            </div>

          </div>

        </div>

      </div>

    </section><!-- /Features Section -->
  <!-- Features Details Section -->
    <section id="features-details" class="features-details section">

      <div class="container">

        <div class="row gy-4 justify-content-between features-item">

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <img src="../../static/images/money.jpg" class="img-fluid" alt="">
          </div>

          <div class="col-lg-5 d-flex align-items-center" data-aos="fade-up" data-aos-delay="200">
            <div class="content">
              <h3>Expense Categorization</h3>
              <p>
                Automatically categorize expenses using advanced algorithms.
Customize categories to align with your unique financial needs.
              </p>
              <a href="#" class="btn more-btn">Learn More</a>
            </div>
          </div>

        </div><!-- Features Item -->

        <div class="row gy-4 justify-content-between features-item">

          <div class="col-lg-5 d-flex align-items-center order-2 order-lg-1" data-aos="fade-up" data-aos-delay="100">

            <div class="content">
              <h3>Secure User Accounts</h3>
              <p>
                Sign up and log in securely to access your personalized dashboard.
All your data is protected with robust security measures.
              </p>

            </div>

          </div>

          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="200">
            <img src="../../static/images/calculate.jpg" class="img-fluid" alt="">
          </div>

        </div><!-- Features Item -->

      </div>

    </section><!-- /Features Details Section -->


</main>


  <footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">FinanceTracker</span>
          </a>
          <div class="footer-contact pt-3">

            <p><strong>Email:</strong> <span>info@financetracker.com</span></p>
          </div>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'landingpage'%}">Home</a></li>
            <li><a href="{% url 'contact_us'%}">Contact us</a></li>
            <li><a href="#">Services</a></li>

          </ul>
        </div>

        <div class="col-lg-2 col-md-3 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Budget</a></li>
            <li><a href="#">Income</a></li>
            <li><a href="#">Expense</a></li>

          </ul>
        </div>

        <div class="col-lg-4 col-md-12 footer-newsletter">
          <h4>Our Newsletter</h4>
          <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
          <form action="forms/newsletter.php" method="post" class="php-email-form">
            <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">Your subscription request has been sent. Thank you!</div>
          </form>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">FinanceTracker</strong><span>All Rights Reserved</span></p>

    </div>

  </footer>



<script src="{% static 'styles/bootstrap/js/bootstrap.min.js'%}"></script>
<script src="../../static/js/landinpage.js"></script>
</body>
</html>